# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# PyCharm
.idea/misc.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dbnavigator.xml
.idea/codeStyles
.idea/*.iml
.idea/dictionaries
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
.idea/deployment.xml

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
*.py~
*.rst~

.md5
.idea/inspectionProfiles/
.idea/markdown-navigator/
.idea/markdown-navigator.xml
.idea/modules.xml
.idea/vagrant.xml
/.pytest_cache/

# from dk gitignore fix
*$py.class
*.cover
*.css.map
*.iws
*.lcov
*.less
*.pid
*.pid.lock
*.pyc
*.sage.py
*.sass.map
*.scss.map
*.seed
*.tgz
*.tsbuildinfo
*~
.coverage.*
.dmypy.json
.dynamodb/
.eggs/
.env
.env.test
.eslintcache
.fusebox/
.grunt
.hypothesis/
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/codeStyles/*
.idea/httpRequests
.idea/markdown-navigator/*
.idea/replstate.xml
.idea/sonarlint
.idea_modules/
.ipynb_checkpoints
.lock-wscript
.mypy_cache/
.next
.node_repl_history
.nox/
.npm
.nuxt
.nyc_output
.pyre/
.pytest_cache/
.python-version
.ropeproject
.sass-cache/
.scrapy
.serverless/
.spyderproject
.spyproject
.venv
.vscode/settings.json
.vuepress/dist
.webassets-cache
.yarn-integrity
/*.egg-info
/*.svg
/builds
/cache/
/requirements-ci.txt
/site
ENV/
MANIFEST
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
\#*\#
atlassian-ide-plugin.xml
bower_components
build/Release
celerybeat-schedule
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
db.sqlite3
db.sqlite3-journal
dmypy.json
env.bak/
fabric.properties
instance/
ipython_config.py
jspm_packages/
lerna-debug.log*
lib-cov
local_settings.py
logs
media
node_modules/
npm-debug.log*
out/
pids
pip-selfcheck.json
pip-wheel-metadata/
profile_default/
pyvenv.cfg
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
share/python-wheels/
tests/__pycache__/
typings/
venv.bak/
venv/
wheels/
yarn-debug.log*
yarn-error.log*

/.dkdeps
